APP_PORT=
APP_ENV=
LOG_LEVEL=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=
DB_MAX_IDLE=
DB_MAX_OPEN=
DB_MAX_LIFETIME_MIN=

MAX_FILE_SIZE_MB=
PCAP_SAMPLE_LEN=
PCAP_MERGE_BIDIRECTIONAL=

MIZUKI_TEMP_DIR=